* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}


section.main-content {
    height: calc(100vh - 100px);
    width: 100vw;
    display: flex;
}

aside {
    width: 200px;
    border: 2px dashed black;
    display: flex;
    flex-direction: column;
}

.playlist {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.playlist > ul {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

main {
    width: calc(100% - 200px);
    position: relative;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: end;
    z-index: 1;
}

.main-section {
    overflow-y: auto;
    height: 100%;
}

footer {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    padding: 0 20px;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

/* 
TIPHOGRAPHY SYSTEM
-COLORS
*/

:root {
    --black-sidebar-bg: black;
    --main-bg: #141922;
    --footer-bg: #282828;
    --grey-text: #777A7F;
    --grey-bg: #777A7F;
    --green-bar: #9AE330;

}

.grey-text {
    color: #777A7F;
}

.grey-bg {
    background-color: #777A7F;
}

.main-bg {
    background-color: #141922;
}

.green-bar {
    color: #9AE330;
}

.sidebar-bg {
    background-color: black;
}

.footer-bg {
    background-color: #282828;
}

