/* ASIDE */

aside .logo > img {
    width: 140px;
}
.logo {
    padding-bottom: 1.25rem;
}

aside nav.icon > ul > li > img {
    width: 15%;
}

aside nav.icon > ul > li > img, aside nav.icon > ul > li > span {
    vertical-align: middle;
}

aside {
    padding: 10px 0 10px 10px;
    background-color: black;
    min-height: 450px;
}
aside ul {
    list-style: none;
}

.playlist h4 {
    padding: 15px 0;
}

.playlist ul li .cread {
    vertical-align: middle;
}  {
    padding: 15px 0;
}

.add {
    display: inline-block;
    padding: .3125rem .625rem;
    background-color: #777A7F;
    vertical-align: middle;
    margin-right: .3125rem;
    color: black;
}

.user > .download > img {
    width: 20px;
}

.user > .user-profile > img {
    width: 30px;
    background-color: #777A7F;
    border-radius: 50%;
}

.main-content {
    font-size: 0.8em;
}

.main-content nav.icon > ul > li {
    padding-bottom: 10px;
}

.main-content nav.playlist > ul > li {
    padding-bottom: 15px;
}

nav.icon > ul > li , nav.playlist > ul > li > a, nav.playlist > h4{
    color:#777A7F;
}

nav.icon > ul > li:hover, nav.playlist > ul > li> a:hover {
    color: white;
    cursor: pointer;
}

nav.icon > ul > li > img, nav.playlist > ul > li > img, .hidden-nav > div > img, .download {
    filter: invert(50%) sepia(10%) saturate(180%) hue-rotate(179deg) brightness(94%) contrast(88%);
    cursor: pointer;
}

nav.icon > ul > li:hover img, nav.playlist > ul > li:hover img, .hidden-nav > div > img:hover, .download:hover {
    filter: none;
}
nav.playlist > ul > li:hover .add {
    background-color: white;
}

aside > .logo-small > img, .hidden-nav {
    display: none;
}

.user hr {
    width: 95%;
    margin: 0 auto 10px;
}

/* --SECTION 1-- */


main header > button {
    border-color: #ffffff;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-radius: 20px;
    padding: .3125rem .625rem;
    color: white;
    margin-right: 15px;
}

main > header > button > a {
    border-radius: 1.25rem;
    font-size: 0.6em;
    vertical-align: middle;
}

main header > button:hover {
    scale: 1.2;
    cursor: pointer;
}

.category-container {
    width: 100%;
    margin-top: 50px;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-category-music ul li {
    list-style: none;
    /* width: calc(100% / 7);
    margin: .625rem .3125rem .125rem; */
    font-size: 0.9em;
    text-align: center;
    padding: 10px 15px;
}

.nav-category-music ul li a {
    color: #777A7F;
    font-weight:bold ;
}

li.category-music a > div > hr {
    width: 1.25rem;
    margin: .3125rem auto;
    border-color: #9AE330;
    visibility: hidden;
}

.nav-category-music ul li.category-music a:hover {
    color: white;
}

.nav-category-music ul li.category-music a:hover  div > hr{
    visibility: visible;
}

/* --SECTION 2-- */

section > div.container > .title-container {
    margin: 2.5rem 0 1.25rem ;
}

section > div.container > div > h2 {
    padding-bottom: 5px;
}

.album-pic {
    width: 100%;
    height: auto;
    position: relative;
}

.card {
    width: calc((100% / 6) - 10px);
    margin: 5px;
}

.card div:last-child {
    text-align: center;
}

.card h4 {
    padding: .9375rem 0 .625rem;
}

.subtitle {
    color: #777A7F;
    font-size: 0.6em;
    font-weight: bold;
}

/* .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border: .25rem solid white;
    padding: .625rem .625rem .625rem 15px;
    border-radius: 50%;

    bottone play creato da me---sotto consiglio di marco l'ho sostituito con un'immagine
} */

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
}

.overlay > div {
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}


.play {
    width: 60px;
}


.play:active {
    color: #9AE330;
}

.album-pic:hover{
    cursor: pointer;
}

.album-pic:hover .play{
    display: block;
    cursor: pointer;
}

.album-pic:hover .overlay {
    display: block;
}

.container > h2 {
    padding: 1.875rem 0 1.25rem;
}

/* --SECTION 3-- */
/* --SECTION 4-- */


.circle-pic {
    border: 3px solid white;
    border-radius: 50%;
    overflow: hidden;
}

/* 
FOOTER 
*/

.left-footer, .inside-left-footer, .right-footer {
    display: flex;
    align-items: center;
}

.pic-footer {
    width: 60px;
    padding-left: 10px;
}

.artist-footer {
    padding: 0 .9375rem;
    font-weight: bold;
}

.artist-footer > p {
    font-size: 0.6em;
    color: #777A7F;
}

.artist-footer > p:hover {
    text-decoration: underline;
    color: white;
}

.functions > span {
    padding: 0 5px ;
    color: #777A7F;
}

.functions > span:hover {
    color: white;
    cursor: pointer;
}

/* --center footer-- */

.center-footer {
    width: 30vw;
}

.bottom-center-footer {
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.grey-bar {
    width: 100%;
    height: 3px;
    background-color:#777A7F;
    margin: 0 auto;
    border-radius: 10px;
}

.lighter-bar {
    width: 30%;
    height: 3px;
    background-color: #abb1ba;
    border-radius: 10px;
}

.grey-bar .green-bar {
    width: 30%;
    height: 3px;
    background-color: #9AE330;
    border-radius: 10px;
    display: none;
    position: relative;
}

.bottom-center-footer:hover .lighter-bar{
    display: none;
}

.bottom-center-footer:hover .green-bar{
    display: block;
}

.pallina {
    width: 12px;
    height: 12px;
    background-color: lightgray;
    line-height: 3px;
    position: absolute;
    border-radius: 50%;
    top: -5px;
    left: 98%;
}

.top-center-footer {
    display: flex;
    justify-content: center;
}

.top-center-footer > button {
    color: white;
    background-color: #282828;
    border-style: none;
    padding: 5px;
    font-size: 1.3em;
    margin: 0 5px;
    cursor: pointer;
}

.top-center-footer > button:hover {
    scale: 1.2;
}

.durata-sx {
    margin-right: 25px;
    font-size: 0.7em;
}

.durata-dx {
    margin-left: 25px;
    font-size: 0.7em;
}


/* --right footer-- */


.right-footer {
    padding-right: 10px;
    
}

.right-footer > button {
    color: white;
    background-color: #282828;
    border-style: none;
    padding: 5px;
    font-size: 0.8em;
    cursor: pointer;
}

.right-footer > button:hover {
    scale: 1.2;
}

.volume-bar-righ-footer {
    padding: 10px 0;
}

.volume-bar-righ-footer .right-grey-bar {
    width: 120px;
    height: 3px;
    background-color:#777A7F;
    margin: 0 auto;
    border-radius: 10px;
}

.volume-bar-righ-footer .right-lighter-bar {
    width: 30%;
    height: 3px;
    background-color: #abb1ba;
    border-radius: 10px;
}

.volume-bar-righ-footer .right-green-bar {
    width: 30%;
    height: 3px;
    background-color: #9AE330;
    border-radius: 10px;
    display: none;
    position: relative;
}

.volume-bar-righ-footer:hover .right-lighter-bar{
    display: none;
}

.volume-bar-righ-footer:hover .right-green-bar{
    display: block;
}

.right-pallina {
    width: 10px;
    height: 10px;
    background-color: lightgray;
    position: absolute;
    top: -3px;
    left: 30px;
    border-radius: 50%;
}




/* 
RESPONSIVE
*/

/* Tablet: fino a 1100px */
@media screen and (max-width: 1100px) {
    /* 
    SIDEBAR
    */
    
    /* 
    MAIN 
    */
    /* --SECTION 1-- */
    .card {
        width: calc((100% / 4) - 10px);
        margin: 5px;
    }
    /* .nav-category-music ul li {
        width: calc(100% / 6);
    } */
    
    /* --SECTION 2-- */
    
    
    /* --SECTION 3-- */
    /* --SECTION 4-- */
    
    /* 
    FOOTER 
    */
    
    }
    
    
    
    /* Mobile normale: fino a 700px */
    @media screen and (max-width: 700px) {
        
    /* 
    SIDEBAR
    */
    
    
    
    /* 
    MAIN 
    */
    
    /* --SECTION 1-- */
    /* .nav-category-music ul li {
        width: calc(100% / 3);
    } */
    
    /* --SECTION 2-- */
    .card {
        width: calc((100% / 2) - 10px);
        margin: 5px;
    }
    /* --SECTION 3-- */
    /* --SECTION 4-- */
    
    
    /* 
    FOOTER 
    */
    
}
    
    

    @media screen and (max-width: 600px) {
    
        /* 
        SIDEBAR
        */

        aside {
            width: 80px;
            align-items: center;
        }

        main {
            width: calc(100% - 80px);
        }

        .logo {
            padding-bottom: 0;
        }

        .download {
            text-align: center;
        }
        
        
        aside > .logo > img, .icon, .playlist {
            display: none;
        }
        
        aside > .logo-small > img, .hidden-nav {
            display: block;
        }
        
        .user hr {
            display: none;
        }
        
        .user > div {
            margin: 12px;
        }

        .logo-small > img, .hidden-nav > div > img {
            width: 40px;
            filter: none;
            padding-bottom: 15px;
        } 

        nav.icon > ul > li , nav.playlist > ul > li > a, nav.playlist > h4{
            color:#777A7F;
        }
        
        nav.icon > ul > li:hover, nav.playlist > ul > li> a:hover {
            color: white;
            cursor: pointer;
        }

        .logo-small {
            cursor: pointer;
        }
        
        .hidden-nav > div > img{
            filter: invert(50%) sepia(10%) saturate(180%) hue-rotate(179deg) brightness(94%) contrast(88%);
            cursor: pointer;
        }
        
        nav.icon > ul > li:hover img, nav.playlist > ul > li:hover img, .hidden-nav > div > img:hover, .download:hover {
            filter: none;
        }
        nav.playlist > ul > li:hover .add {
            background-color: white;
        }

        div.user {
            position: absolute;
            bottom: 90px;
        }

    /* 
    MAIN 
    */
    
    /* --SECTION 1-- */
    /* --SECTION 2-- */
    /* --SECTION 3-- */
    /* --SECTION 4-- */
    
    /* 
    FOOTER 
    */
    
}
    
    
    
    /* 
    DEBUG 
    */


.debug footer {
    position: fixed;
    width: 100%;
}

.debug  

.debug 

.debug 

.debug 

.debug 