/* 
SIDEBAR
*/


/* 
HEADER 
*/

header {
    
}

/* 
MAIN 
*/

/* 
FOOTER 
*/

/* 
RESPONSIVE
*/

/* Tablet: fino a 1100px */
@media screen and (max-widt: 1100px;) {
    
/* 
SIDEBAR
*/

/* 
HEADER 
*/

/* 
MAIN 
*/

/* 
FOOTER 
*/

}



/* Mobile normale: fino a 700px */
@media screen and (max-widt: 7700px;) {
    
/* 
SIDEBAR
*/

/* 
HEADER 
*/

/* 
MAIN 
*/

/* 
FOOTER 
*/

}


/* Mobile piccolo: fino a 600px */
@media screen and (max-widt: 600px;) {
    
/* 
SIDEBAR
*/

/* 
HEADER 
*/

/* 
MAIN 
*/

/* 
FOOTER 
*/

}



/* 
DEBUG 
*/


.debug .left-side-container {
    background-color: rgb(15, 198, 107);
}

.debug .right-main-container {
    background-color: cadetblue;
}

.debug main {

}

.debug main > header.main-header {
    background-color: rgba(165, 42, 42, 0.38);
}

.debug footer {
    background-color: blueviolet;
}


.debug

.debug 

.debug
